    
       
    <label for="floatingInput">First name</label>
    <input type="text" name="firstname" id="floatingInput" placeholder="First name" value="{{this.firstname}}">
     

    <label for="floatingInput">Last name</label>
    <input type="text" name="lastname" id="floatingInput" placeholder="Last name" value="{{this.lastname}}">
    
    <label for="floatingInput">Email address</label>
    <input type="email" name="email" id="floatingInput" placeholder="Email address" value="{{this.email}}">
    
    <label for="floatingInput">Phone</label>
    <input type="text" name="phone" id="floatingInput" placeholder="Phone" value="{{this.phone}}">

    <label for="floatingInput">Comments</label>
    <input type="text" name="comments" id="floatingInput" placeholder="Comments" value="{{this.comments}}">
    
    <button type="submit">Add user</button>
